<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>
        .error {
            color: red;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a href="{% url 'signup' %}">Cadastre-se aqui</a>.</p>
</body>
</html>
