<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>

    <style>
        .error {
            color: red;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <h1>Você tem certeza de que deseja excluir esta imagem?</h1>
    <p>{{ image.title }}</p>
    <img src="{{ image.image.url }}" alt="{{ image.title }}">
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, excluir</button>
    </form>
    <a href="{% url 'dashboard' %}">Cancelar</a>
</body>
</html>
