<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="bg"></div>
    <header>
        <h1>Dashboard</h1>
        <nav>
            <a href="{% url 'upload_image' %}" class="btn">Enviar Imagem</a>
            <a href="{% url 'logout' %}" class="btn logout">Sair</a>
        </nav>
    </header>
    <main>
        <div class="portfolio-grid">
            {% for image in images %}
            <div class="portfolio-item">
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                <div class="portfolio-info">
                    <h2>{{ image.title }}</h2>
                    <p>{{ image.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
