<!DOCTYPE html>
<html lang="pt-br">
<html>
<head>
    <title>Painel de Controle</title>

    <style>
        .error {
            color: red;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <h1>Suas Imagens</h1>
    <a href="{% url 'upload_image' %}">Enviar Nova Imagem</a>
    <br><br>
    <a href="{% url 'logout' %}">Sair</a>  <!-- Adicionando o link de Logout -->
    <br><br>

    {% for image in images %}
        <div>
            <img src="{{ image.image.url }}" alt="{{ image.title }}">
            <p>{{ image.title }}</p>
            <a href="{% url 'edit_image' image.id %}">Editar</a> |
            <a href="{% url 'delete_image' image.id %}">Excluir</a>
        </div>
    {% endfor %}
</body>
</html>
