<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Imagem</title>

    <style>
        .error {
            color: red;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <h1>Editar Imagem</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar Alterações</button>
    </form>
    <a href="{% url 'dashboard' %}">Cancelar</a>
</body>
</html>
