<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Enviar Imagem</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
</head>
<body>
    <div class="bg"></div>

    <main class="form-upload">
        <h1 class="h3">Enviar Imagem</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}<br>
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}<br>
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.image.label_tag }}<br>
                {{ form.image }}
            </div>
            <button class="btn btn-lg" type="submit">Enviar</button>
        </form>

        <a href="{% url 'dashboard' %}" class="back-link">Voltar ao Painel</a>
    </main>
</body>
</html>
