<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Imagem</title>

    <style>
        .error {
            color: red;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <h1>Enviar Imagem</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    <a href="{% url 'dashboard' %}">Voltar ao Painel</a>

    {% if form.title.errors %}
        <div class="error">
            {% for error in form.title.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% if form.image.errors %}
    <div class="error">
        {% for error in form.image.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
